/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.next/*

/facilitator/node_modules

/cep18-permit-token/target
/cep18-permit-token/.cargo
/cep18-permit-token/.hypothesis
/cep18-permit-token/wasm
/cep18-permit-token/__pycache__

/final-facilitator/target
/final-facilitator/.cargo
/final-facilitator/keys
/final-facilitator/test-runner/target

/final-facilitator/docs/x402/demo/node_modules
/final-facilitator/docs/x402/demo/api/node_modules
/final-facilitator/docs/x402/demo/client/node_modules
/final-facilitator/docs/x402/demo/facilitator/node_modules


