/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.next/*

/facilitator/node_modules

/cep18-permit-token/target
/cep18-permit-token/.cargo
/cep18-permit-token/.hypothesis
/cep18-permit-token/wasm
/cep18-permit-token/__pycache__